@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'montserat';
  src: url('../public/fonts/montserat/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'montserat';
  src: url('../public/fonts/montserat/Montserrat-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'avenir';
  src: url('../public/fonts/avenir/Avenir-Book.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'avenir';
  src: url('../public/fonts/avenir/Avenir-Book.ttf');
  font-weight: 400;
}
